header{
    font-size: 1em;
}
header nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 1em;
}
header nav .nav-right{
    display: flex;
    align-items: center;
}
header nav .nav-right a{
    color: #444;
    padding: 5px 10px;
    margin: 0px 5px;
    font-size: 1.1em;
}
header nav .nav-left .register-login-btn{
    border: 1px solid#666;
    padding: 5px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav .nav-left .register-login-btn i{
    margin: 7px;
    color: #444;
    font-size: 1.1em;
}
header nav .nav-left .register-login-btn a{
    color: #444;
    margin: 0px 10px;
    font-size: 0.9em;
}
 /* slider-sction */
 .slider{
    position: relative;
    font-size: 1em;
 }
 .slider .slides .item{
    position: relative;
    display: none;
 }
 .slider .slides .item img{
    width: 100%;
 }
 .slider .slides .item span{
    position: absolute;
    right: 10%;
    top: 40%;
    font-size: 1.5em;
    color: #333;
 }
 .slider .slides .active{
    display: block;
    animation-name: fadeIn;
    animation-duration: 4s;
 }
 .slider .buttions{
    position: absolute;
    bottom: 30px;
    left: 40px;
    z-index: 2;
 }
 .slider .buttions i{
    color: #fff;
    margin-right: 2px;
    cursor: pointer;
    font-size: .7em;
    transition: 0.4s;
 }
 .slider .buttions i:hover{
     color: rgba(255, 255, 255, 0.4);
 }
 /* product section  */
 .home-page-product-section{
    padding: 20px 10px;
    font-size: 1em;
 }
 .shopping-card{
    text-align: center;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    margin: 10px 15px;
    border-radius: 5px;
    padding: 10px;

 }
 .shopping-card .img-section {
    position: relative;
 }
 .shopping-card .img-section img{
    width: 60%;
 }
 .shopping-card .img-section .hot-offer{
    background-color: #ec6657;
    color: #fff;
    padding: 3px 5px;
    border-radius: 5px;
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: .9em;
 }
 .shopping-card .img-section .stars{
    position: absolute;
    left: 5px;
    top: 10px;
    color: #f1c408;
 }
 .shopping-card .title{
    color: #333;
    margin: 15px;
 }
 .shopping-card .buttions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
 }
 .shopping-card .buttions .right .price{
    color: #666;
    font-weight: bold;
 }
 .shopping-card .buttions .left{
    display: flex;
 }
 .shopping-card .buttions .left .extend-btn {
   display: flex;
   margin-left: 5px;
   align-items: center;
   justify-content: space-around;
   background-color: #57df90;
   color: #fff;
   width: 40px;
   padding: 8px 12px;
   border-radius: 25px;
   cursor: pointer;
   height: 35px;
   padding-top: 12px;
   transition: .75s;
 }
 .shopping-card .buttions .left .extend-btn:hover{
   width: 90px;

 }
 .shopping-card .buttions .left .extend-btn:hover .b-text{
   display: block;
   color: #fff;
 }
 .shopping-card .buttions .left .extend-btn .b-text{
   color: #fff;
   display: none;
 }
 .shopping-card .buttions .left .extend-btn .b-icon{
   color: #fff;
   padding-top: 3px;
 }
 /* supper offer section  */
 .supper-offer-section{
   padding: 20px;
   font-size: 1em;
 }
 .supper-offer-section .supper-offer-box{
   text-align: center;
   box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   margin: 0px 10px;
 }
 .supper-offer-box .supper-offer-box-title{
   background-color: #ec6657;
   color: #fff;
   padding: 8px 30px;
   display: inline-block;
   border-bottom-right-radius: 20px;
   border-bottom-left-radius: 20px;
 }

 .supper-offer-box .body .image-counteiner{
   text-align: center;
   padding: 30px;
 }
 .supper-offer-box .body .image-counteiner img{
   width: 100%;
 }
 .supper-offer-box .body .spesification .price-row{
   padding: 30px 5px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .supper-offer-box .body .spesification .price-row .price{
   margin-left: 60px;
   color: #444;
   font-size: 1.2em;
 }
 .supper-offer-box .body .spesification .price-row .off{  
   color: #fff;
   background-color: #ec6657;
   padding: 5px 20px;
   border-radius: 25px;
 }
 .supper-offer-box .body .spesification .title{
   margin: 20px 0px;
   font-weight: bold;
   color: #444;
   font-size: 1.4em;
 }
 .supper-offer-box .body .spesification .sounter-down{
   border-top: 1px solid rgba(0, 0, 0, 0.4);
   margin: 10px 40px;
   padding-top: 20px;
   font-weight: bold;
   color: #666;
   font-size: 1.5em;
 }
 .supper-offer-box .body .spesification .remaining-time{
   color: #777;
   font-size: .8em;
 }
 .banner{
   text-align: center;
   padding:0 5px;
 }
 .banner img{
   border-radius: 5px;
   box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
   width: 80%;
 }
.owl-stage-outer{
  direction: ltr;
}
.dragble-list img{
  width: 70% !important;
  margin: auto;
}
.dragble-list .title{
  padding-bottom: 20px;
  padding: 0px 20px;
}
.dragble-list .title span{
  font-size: 1.2em;
  color: #444;
  border-bottom: 1px solid #ec6657;
}

/* footer section  */
 footer{
  background-color: #636e72;
  font-size: 1em;
 }
 footer .right{
  padding: 40px;
 }
 footer .right .title{
  padding: 10px 0px;
  color: #fff;
  font-size: 1.2em;
}
 footer .right .des{
  color: rgba(255, 255, 255, .7);
  line-height: 1.9em;
  font-size: .9em;
 }
 footer .left{
  padding: 40px;
 }
 footer .left .title{
  padding: 10px 0px;
  font-size: 1.2em;
  color: #fff;
 }
 footer .left .socials{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
 }
 footer .left .socials a{
  color: #fff;
  font-size: 1.4em;
 }
 footer .bottom{
  background-color: #2d3436;
  text-align: center;
  padding: 15px;
  color: rgba(255, 255, 255, 0.8);
}